.md-sidebar__scrollwrap,
.md-sidebar,
.md-sidebar--primary,
.md-sidebar--secondary {
    background-color: #111;
}
.md-nav__title {
    background-color: #111 !important;
    color: white;
}
.md-nav--secondary .md-nav__title {
    background-color: #111 !important;
}
.md-sidebar__inner {
    background-color: #111;
}
